.footer {
    border-top: 1px solid $color-gray-3;
    padding: 40px 20px 20px 20px;
    .footer-top {
        .item-boil {
            font-weight: 600;
        }
        .item {
            li {
                padding: 10px 0;
                a {
                    text-decoration: none;
                    @include text($fs-1, $fw-normal, $color-blue);
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    .footer-bot {
        border-top: 1px solid $color-gray-3;
        padding-top: 20px;
        .item-1 {
            align-items: center;
            img {
                width: 110px;
            }
            p {
                margin: 0;
                padding-left: 20px;
            }
        }
        .item-2 {
            justify-content: flex-end;
            align-items: center;
            li {
                padding: 10px;
                transform: translateY(10px);
                a {
                    text-decoration: none;
                    @include text($fs-1, $fw-normal, $color-blue);
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

@include repond-to('medium') {
    .footer {
        .footer-bot {
            .item-2 {
                justify-content: flex-start;
            }
        }
    }
}